@charset "UTF-8";

.entire {
  overflow: hidden;
  min-width: 1190px;
}

.header-area {
  position: relative;
  width: 1130px;
  padding: 0 30px;
  height: 100%;
  margin: 0 auto;
}
/* header & top-nav */
.tool-bar {
  width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
  top: 12px;
  display: flex;
  /* justify-content: space-between; */
  font-size: 11px;
  background-color: white;
}
.tool-bar div {
  /* position: absolute; */
  align-items: flex-end;
  right: 27px;
}
.tool-bar-1 {
  /* padding: 0 20px; */
  /* margin-left: 0px; */
  text-decoration: none; /*왜 적용이 안돼*/
  background-color: white;
}
.tool-bar-2 {
  padding: 0 10px;
  border-left: 0.5px solid gray;
  margin-left: 10px;
  background-color: white;
}
.tool-bar-3 {
  padding: 0 10px;
  border-left: 0.5px solid gray;
  background-color: white;
}

.header {
  position: relative;
  width: 1130px;
  display: flex;
  padding: 25px 0px;
  margin: 0 auto;
  /* margin-bottom: 10px; */
  /* background-color: white; */
}
.logo {
  /* width: 222px;
  height: 66px; */
}
.search-window {
  padding: 3px 0px;
  margin-top: 20px;
  margin-left: 12px;
  font-size: 24px;
  height: 50px;
  width: 585px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid limegreen;
}
.search-window input {
  font-size: 18px;
  font-weight: 700;
  border: none;
  display: block;
  width: 462px;
  outline: none;
}
.search-window-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-window i {
  margin-left: 10px;
}
.search-icon__search a {
  margin-left: 10px;
  padding: 9px 7px;
  font-size: 24px;
  background-color: limegreen;
  color: white;
}

.top-nav {
  position: relative;
  width: 1130px;
  margin: 0 auto;
  padding: 16px 0px;
  /* text-align: center; */
  /* justify-content: space-between; */
  border-bottom: 1px solid #dae1e6;
  border-top: 1px solid #dae1e6;
  background-color: white;
  /* text-decoration: none; */
  color: limegreen;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1.5px;
}
#green-top-nav {
  color: limegreen;
}
.top-nav a {
  margin-right: 20px;
  color: black;
}
.green-nav a {
  color: limegreen;
}

/* body */
.body {
  /* margin-top: 20px;
  margin-left: 370px; */
  position: relative;
  width: 1130px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: white;
  display: flex;
}

/* .left-column */
.left-column {
  background-color: white;
  width: 750px;
}

.main-notice {
  width: 750px;
  height: 135px;
}

.news-box {
  padding: 14px;
  width: 750px;
  height: 50px;
  border: 1px solid #dae1e6;
  background-color: #f7f9fa;
  margin: 12px 0px;
  font-size: 15px;
  font-weight: bold;
}
.news-box a {
  color: #202020;
}
.news-headline {
  font-weight: lighter;
  color: rgb(32, 32, 32);
}
.news-headline:hover {
  text-decoration: underline;
}
.navernews {
  color: #3565c9;
}
.news-kind {
  margin-left: 70px;
}
.news-table {
  width: 750px;
}
.writing {
  margin-bottom: 25px;
}
.writing-table {
  margin-bottom: 20px;
}
.writing-link {
  display: flex;
}
.sub-writing {
  margin-left: 24px;
}
.main-writing {
  border: 1px solid gray;
  width: 365px;
  height: 335px;
}
/* 왜 둘이 묶어서 하면 적용이 안되는지? */
.sub-writing {
  border: 1px solid gray;
  width: 365px;
  height: 335px;
}

/* right-column */
.right-column {
  margin-left: 30px;
  background-color: white;
}
.login-window {
  width: 350px;
  height: 135px;
  border: 1px solid #dae1e6;
  background-color: #f7f9fa;
  font-size: 14px;
  color: gray;
  padding: 14px 19px;
}
.naver-login {
  margin-top: 0px;
}

.naver-signin {
  position: relative;
  margin-left: 70px;
}
.naver-login-btn {
  position: relative;
  border: none;
  color: white;
  background-color: limegreen;
  width: 310px;
  height: 45px;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.login-window a {
  color: gray;
}

.issue-box {
  width: 350px;
  height: 50px;
  border: 1px solid #dae1e6;
  background-color: #f7f9fa;
  margin: 12px 0px;
}
.weather-face a {
  background: url("../images/naver_image.png") no-repeat -719px -715px;
  width: 34px;
  height: 34px;
}

.marketing-box {
  width: 350px;
  height: 200px;
  border: none;
}
