@charset "UTF-8";

.entire {
  overflow: hidden;
  min-width: 1190px;
}

.header-area {
  position: relative;
  width: 1130px;
  padding: 0 30px;
  height: 100%;
  margin: 0 auto;
}
/* header & top-nav */
.tool-bar {
  position: absolute;
  top: 12px;
  /* right: 27px; */
  float: right;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  background-color: white;
}
.tool-bar-1 {
  /* padding: 0 20px; */
  /* margin-left: 0px; */
  text-decoration: none; /*왜 적용이 안돼*/
  background-color: white;
}
.tool-bar-2 {
  padding: 0 10px;
  border-left: 0.5px solid gray;
  margin-left: 10px;
  background-color: white;
}
.tool-bar-3 {
  padding: 0 10px;
  border-left: 0.5px solid gray;
  background-color: white;
}

.header {
  position: relative;
  width: 1130px;
  display: flex;
  padding: 25px 0px;
  margin: 0 auto;
  /* margin-bottom: 10px; */
  background-color: white;
}
.logo {
  /* width: 222px;
  height: 66px; */
}
.search-window {
  padding: 3px 0px;
  margin-top: 20px;
  margin-left: 12px;
  font-size: 24px;
  height: 50px;
  width: 585px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid limegreen;
}
.search-window input {
  font-size: 18px;
  font-weight: 700;
  border: none;
  display: block;
  width: 462px;
  outline: none;
}
.search-window-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-window i {
  margin-left: 10px;
}
.search-icon__search {
  margin-left: 10px;
  padding: 7px 7px;
  font-size: 24px;
  background-color: limegreen;
  color: white;
}
.top-nav {
  position: relative;
  padding: 16px 0px;
  text-align: center;
  justify-content: space-between;
  border-bottom: 0.5px solid gray;
  border-top: 0.5px solid gray;
  box-sizing: border-box;
  background-color: white;
  text-decoration: none;
}
.green-nav {
  color: limegreen;
}

/* body */
.body {
  /* margin-top: 20px;
  margin-left: 370px; */
  position: relative;
  width: 1130px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: white;
  display: flex;
}

/* .left-column */
.left-column {
  background-color: white;
  width: 750px;
}

.main-notice {
  width: 750px;
  height: 135px;
}

.news-box {
  width: 750px;
  height: 50px;
  border: 1px solid gray;
  margin: 12px 0px;
}

.news-table {
  width: 750px;
}
.writing {
  margin-bottom: 25px;
}
.writing-table {
  margin-bottom: 20px;
}
.writing-link {
  display: flex;
}
.sub-writing {
  margin-left: 24px;
}
.main-writing {
  border: 1px solid gray;
  width: 365px;
  height: 335px;
}
/* 왜 둘이 묶어서 하면 적용이 안되는지? */
.sub-writing {
  border: 1px solid gray;
  width: 365px;
  height: 335px;
}

/* right-column */
.right-column {
  margin-left: 30px;
  background-color: white;
}
.login-window {
  width: 350px;
  height: 135px;
  border: 1px solid gray;
}
.issue-box {
  width: 350px;
  height: 50px;
  border: 1px solid gray;
  margin: 12px 0px;
}

.marketing-box {
  width: 350px;
  height: 200px;
  border: none;
}
