@charset "UTF-8";
@import "home.css";

* {
  box-sizing: border-box;
}

body {
  /* background-color: #f1f1f1; */
}

a {
  text-decoration: none;
}

td {
  width: 123px;
  height: 66px;
}

th {
  width: 95px;
  height: 47px;
}

td,
th,
table {
  border: 1px solid #dae1e6;
  border-collapse: collapse;
  text-align: center;
}

ul,
li {
  list-style: none;
  padding-left: 0px;
}
