@charset "UTF-8";
@import "home.css";

* {
  box-sizing: border-box;
}

body {
  /* background-color: #f1f1f1; */
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

td {
  width: 123px;
  height: 66px;
}

th {
  width: 95px;
  height: 47px;
}

td,
th,
table {
  border: solid 1px gray;
  border-collapse: collapse;
}
